In [1]:
import pandas as pd
import numpy as np
import math
#Our default forecast will be a holts-winter, I imagine results are very sensitive to this decision!
from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing, Holt

#We will leave out test year and conduct forecasts on it
test_year = 2015

In [2]:
# Place holder format for data frame with multiple time series
# time_series_df = pd.DataFrame({'time':range(0,10),
#                               'A':np.random.normal(loc = 0, scale = 1, size = 10),
#                               'B': np.random.normal(loc = 0, scale = 1, size = 10),
#                              'C':np.random.normal(loc = 0, scale = 1, size = 10)}).set_index('time')

#Read in actual data
time_series_df = (pd.read_csv('C:/Users/Jon/Downloads/data downloads/suicide-rates-overview-1985-to-2016/master.csv'))

#Select only country, year, and suicide count, then aggregate
time_series_df = time_series_df[['country','year','suicides_no']] . groupby(['country','year']).sum().reset_index()

#pivot into wide format, each column will be a country
time_series_df = pd.pivot_table(time_series_df, columns = 'country', index='year',values = 'suicides_no')

#Fill in NAs as 0
time_series_df = time_series_df.fillna(0)

#Select only a subset of countries for speed (shapley grows very slow in subsets due to power set calculations!)
time_series_df = time_series_df[['Argentina','Australia', 'Japan','Republic of Korea', 'United States']]

#Remove 2016, it is all 0s for some reason
time_series_df = time_series_df.loc[:2015]

true_values = time_series_df.loc[test_year].values

#Leave out a after year test_year to see which does better!
time_series_df = time_series_df.loc[:test_year-1]

In [3]:
#Look at data for format
time_series_df.tail()

country  Argentina  Australia    Japan  Republic of Korea  United States
year
2010        2943.0     2420.0  29411.0            15558.0        38362.0
2011        2912.0     2392.0  28766.0            15906.0        39508.0
2012        3248.0     2580.0  26338.0            14159.0        40596.0
2013        2987.0     2608.0  25991.0            14426.0        41143.0
2014        3231.0     2891.0  24357.0            13834.0        42769.0

In [4]:
time_series_df.plot()

In [5]:
#Generate a list of column names and also times
ts_names = list(time_series_df.columns)

# time_list = time_series_df.reset_index()['time'].unique()
time_list = time_series_df.reset_index()['year'].unique()
time_list.sort

print( ts_names, time_list)

['Argentina', 'Australia', 'Japan', 'Republic of Korea', 'United States'] [1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014]

In [6]:
#Define powerset function to iterate over later
def powerset(s):
    x = len(s)
    masks = [1 << i for i in range(x)]
    for i in range(1 << x):
        yield [ss for mask, ss in zip(masks, s) if i & mask]

In [7]:
#Generate the forecast for each subset of the time series, along the way we use an 'empty' column of all 0s to represent none
subset_df = pd.DataFrame(columns = ['value'])
time_series_df['empty']=0

for subset in list(powerset(ts_names)):
    subset.append('empty')
    subset = sorted(subset)
    
    time_series_df['aggregate'] =  time_series_df[subset].sum(axis = 1)
    ts_values = time_series_df['aggregate'].values
    holt_forecast = Holt(ts_values).fit()
    
    forecasted_value = holt_forecast.forecast(1)[0]
    subset_df.loc[''.join(subset),'value'] = forecasted_value
    
#     subset_df.loc[''.join(subset),'value']= time_series_df['aggregate'].mean()
    
subset_df

C:\Users\Jon\Anaconda3\lib\site-packages\statsmodels\tsa\holtwinters.py:734: RuntimeWarning: divide by zero encountered in log
  aic = self.nobs * np.log(sse / self.nobs) + (k) * 2
C:\Users\Jon\Anaconda3\lib\site-packages\statsmodels\tsa\holtwinters.py:736: RuntimeWarning: divide by zero encountered in log
  bic = self.nobs * np.log(sse / self.nobs) + (k) * np.log(self.nobs)

                                                           value
empty                                                   0.000000
Argentinaempty                                       3256.318198
Australiaempty                                       2382.318727
ArgentinaAustraliaempty                              5919.722327
Japanempty                                          24394.934307
ArgentinaJapanempty                                 27668.782870
AustraliaJapanempty                                 27490.921932
ArgentinaAustraliaJapanempty                        30787.625116
Republic of Koreaempty                              14183.823747
ArgentinaRepublic of Koreaempty                     17457.722185
AustraliaRepublic of Koreaempty                     17098.877452
ArgentinaAustraliaRepublic of Koreaempty            20384.212453
JapanRepublic of Koreaempty                         38591.972423
ArgentinaJapanRepublic of Koreaempty                41856.610973
AustraliaJapanRepublic of Koreaempty                41505.351337
ArgentinaAustraliaJapanRepublic of Koreaempty       44779.159930
United Statesempty                                  43929.997283
ArgentinaUnited Statesempty                         47211.946624
AustraliaUnited Statesempty                         46758.142579
ArgentinaAustraliaUnited Statesempty                49986.063319
JapanUnited Statesempty                             67663.777322
ArgentinaJapanUnited Statesempty                    70921.922883
AustraliaJapanUnited Statesempty                    70790.079766
ArgentinaAustraliaJapanUnited Statesempty           74070.306900
Republic of KoreaUnited Statesempty                 57412.255106
ArgentinaRepublic of KoreaUnited Statesempty        60686.106383
AustraliaRepublic of KoreaUnited Statesempty        60335.450269
ArgentinaAustraliaRepublic of KoreaUnited State...  63627.624172
JapanRepublic of KoreaUnited Statesempty            81921.753560
ArgentinaJapanRepublic of KoreaUnited Statesempty   85180.482577
AustraliaJapanRepublic of KoreaUnited Statesempty   84891.039369
ArgentinaAustraliaJapanRepublic of KoreaUnited ...  88036.868395

In [8]:
def shapley_value_col(col):
    value = 0
    names_excluding_one = ts_names.copy()
    names_excluding_one.remove(col)
    names_excluding_one

    subsets_without = list(powerset(names_excluding_one))

    for subset in subsets_without:
        subset.append('empty')

        subset_with = subset.copy()
        subset_with.append(col)

        subset = sorted(subset)
        subset_with = sorted(subset_with)
        shapley_factor = (math.factorial(len(subset) - 1) * math.factorial(len(ts_names) - len(subset)) / math.factorial(len(ts_names)))

        value = value + shapley_factor * (subset_df.loc[''.join(subset_with),'value'] - subset_df.loc[''.join(subset),'value'] )
    

    return value

In [9]:
forecast_testing_df = pd.DataFrame(columns = ts_names)

forecast_testing_df.loc['actual'] = true_values

In [10]:
for col in ts_names:
    print(col, shapley_value_col(col))
    forecast_testing_df.loc['shapley',col] = shapley_value_col(col)

Argentina 3257.5845180567503
Australia 2814.7014661055896
Japan 24384.59926533563
Republic of Korea 14058.777106383697
United States 43521.20603879353

In [11]:
#Generate the "top down" forecast using proportion allocation
proportion_df = time_series_df.copy()
proportion_df = proportion_df[ts_names]

all_names = ts_names.copy()
all_names.append('empty')

total_forecast = subset_df.loc[''.join(all_names), 'value']

proportion_df = proportion_df.div(proportion_df.sum(axis=1), axis=0)

forecast_testing_df.loc['proportional'] = total_forecast * proportion_df.loc[max(time_list)].values

In [12]:
forecast_testing_df

,Argentina,Australia,Japan,Republic of Korea,United States
actual,3073.000000,3027.000000,23092.000000,13510.000000,44189.000000
shapley,3257.584518,2814.701466,24384.599265,14058.777106,43521.206039
proportional,3266.428444,2922.700289,24624.078495,13985.692076,43237.969091

In [13]:
print(sum(np.square(forecast_testing_df.loc['shapley'] - forecast_testing_df.loc['actual'])))

forecast_testing_df.loc['shapley'] - forecast_testing_df.loc['actual']

2497060.0596608645

Argentina             184.584518
Australia            -212.298534
Japan                1292.599265
Republic of Korea     548.777106
United States        -667.793961
dtype: float64

In [14]:
print(sum(np.square(forecast_testing_df.loc['proportional'] - forecast_testing_df.loc['actual'])))

forecast_testing_df.loc['proportional'] - forecast_testing_df.loc['actual']

3526300.248636648

Argentina             193.428444
Australia            -104.299711
Japan                1532.078495
Republic of Korea     475.692076
United States        -951.030909
dtype: float64

In [15]:
forecast_testing_df.sum(axis = 1)

actual          86891.000000
shapley         88036.868395
proportional    88036.868395
dtype: float64

In [16]:
# (pd.read_csv('C:/Users/Jon/Downloads/data downloads/suicide-rates-overview-1985-to-2016/master.csv'))['country'].unique()